<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
  <%- include ('../includes/navigation.ejs') %>

  <main>
    <% if (emailErrorMsg || flashErrorMsg) { %>
      <div class="alert error active">
        <%= emailErrorMsg || flashErrorMsg %>
      </div>
    <% } %>

    <form action="/forgot-password" method="POST" class="signup__form" novalidate>
      <h2>Forgotten Password</h2>

      <div class="signup__form__input--container">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" class="<%= validationErrors.find(e => e.param === 'email') ? 'error' : '' %>" value="<%= formValues.email %>">
        <% if (validationErrors.find(e => e.param === 'email')) { %>
          <p><%= validationErrors.find(e => e.param === 'email').msg %></p>
        <% } %>
      </div>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>">

      <div class="login__form__btn--container">
        <button class="signup__form__btn--submit">Send Email</button>
      </div>
    </form>
  </main>

  <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>