<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
  <%- include ('../includes/navigation.ejs') %>

  <main>
    <form action="/signup" method="POST" class="signup__form">
      <h2>Sign Up</h2>

      <div class="signup__form__input--container">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="<%= validationErrors.find(e => e.param === 'name') ? 'error' : '' %>" value="<%= formValues.name %>">
        <% if (validationErrors.find(e => e.param === 'name')) { %>
          <p><%= validationErrors.find(e => e.param === 'name').msg %></p>
        <% } %>
      </div>

      <div class="signup__form__input--container">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" class="<%= validationErrors.find(e => e.param === 'email') ? 'error' : '' %>" value="<%= formValues.email %>">
        <% if (validationErrors.find(e => e.param === 'email')) { %>
          <p><%= validationErrors.find(e => e.param === 'email').msg %></p>
        <% } %>
      </div>

      <div class="signup__form__input--container">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="<%= validationErrors.find(e => e.param === 'password') ? 'error' : '' %>" value="<%= formValues.password %>">
        <% if (validationErrors.find(e => e.param === 'password')) { %>
          <p><%= validationErrors.find(e => e.param === 'password').msg %></p>
        <% } %>
      </div>

      <div class="signup__form__input--container">
        <label for="password">Confirm Password:</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm" class="<%= validationErrors.find(e => e.param === 'passwordConfirm') ? 'error' : '' %>" value="<%= formValues.passwordConfirm %>">
        <% if (validationErrors.find(e => e.param === 'passwordConfirm')) { %>
          <p><%= validationErrors.find(e => e.param === 'passwordConfirm').msg %></p>
        <% } %>
      </div>

      <input type="hidden" name="_csrf" value="<%= csrfToken %>">

      <div class="signup__form__btn--container">
        <button class="signup__form__btn--submit">Sign Up</button>
      </div>
    </form>
  </main>

  <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>