<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/product.css">
  <link rel="stylesheet" href="/css/search.css">
</head>
<body>
  <%- include ('../includes/navigation.ejs') %>

  <main>
    <div class="searchBar__container">
      <%- include('../includes/searchBar.ejs') %>
    </div>

    <div class="searchPage__header">
      <h2><%= searchTerm %></h2>

      <% if (products.length > 0) { %>
        <div class="searchPage__results--header">
          <p><%= startResult %> - <% if (totalSearchResults < endResult) {%><%= totalSearchResults %><%} else {%><%= endResult %><%} %> of <%= totalSearchResults %> results for <span class="searchPage__searchTerm">"<%= searchTerm %>"</span></p>
        </div>
      <% } %>
    </div>

    <div class="searchPage__product--container">
      <% if (products.length > 0) { %>
        <% products.forEach(product => { %>
          <article class="product__card">
            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">

            <ul class="product__card__list">
              <li class="product__card__list--item">
                <p class="product__card__title"><%= product.title %></p>
              </li>
              <li class="product__card__list--item">
                <p class="product__card__price">RM <%= product.price %></p>
              </li>
              <li class="product__card__list--item">
                <p class="product__card__description">
                  <%= product.description %>
                </p>
              </li>
              <li class="product__card__list--item">
                <ul class="product__card__rating--list">
                  <%- include('../includes/rating.ejs', {product}) %>
                </ul>
              </li>
            </ul>

            <div class="product__card__btn--container">
              <a href="/products/<%= product._id %>" class="product__card__btn">
                Details
              </a>

              <% if (isAuthenticated) { %>
                <%- include('../includes/add-to-cart.ejs', {product}) %>
              <% } %>
            </div>
          </article>
        <% }) %>
      <% } else { %>
        <div class="centered mar-top-2">
          No products found
        </div>
      <% } %> 
    </div>
    
    <% if (products.length > 0) { %>
      <%- include('../includes/pagination.ejs', {hasPreviousPage, previousPage, currentPage, hasNextPage, nextPage, lastPage}) %>
    <% } %>
  </main>

  <%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>